.split-view {
    & .side-view {
        position: fixed;
        top: 80px;
        bottom: 0;
        box-sizing: border-box;
        border-right: 1px #e5e5e5 solid;
        overflow: auto;
        width: 420px !important;
    }

    & .main-view {
        padding-left: 420px;
    }
}


.contact-item .avatar {
    background: blueviolet;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    flex: 1 0 60px;
    padding: 15px;
}

.uk-form-horizontal {
    .uk-form-controls {
        margin-left: 135px;
    }

    .uk-form-label {
        width: 120px;
    }
}

.uk-logo {
    text-decoration: none;
}

.uk-logo span {
    color: white;
    font-size: 32px;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: linear-gradient(to left, #28a5f5, #1e87f0);
    z-index: 1;
    width: 100%;
}

.uk-search-large .uk-search-icon,
.uk-search-large .uk-search-input {
}

.uk-search-large ::-webkit-input-placeholder {
    color: white;
}

.uk-list {
    border-top: solid 1px #e5e5e5;
    width: 100%;

    &.contacts {
        margin: 0;  
    }
}

.contact-item {
    cursor: pointer;
    margin: 0 !important;
    border-bottom: solid 1px #e5e5e5;

    .uk-comment-avatar {
        border-radius: 50%;
        margin: 10px 5px 0px 10px;
    }

    &:hover,
    &.selected {
        border-bottom: solid 1px #2aa0f5;
        background-color: #2aa0f5 !important;

        .uk-comment-title, 
        .uk-comment-meta {
            color: white;
        }
    }

}

.uk-contact-form {
    position: relative;

    button {
        float: right
    }
}

.button-create  {
    background: orangered;
    color: white;
    height: 52px;
}